<!--
  Generated template for the TarefaAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Adicionar Tarefa</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Título</ion-label>
    <ion-input type="text" placeholder="Título" [(ngModel)]="titulo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Descrição</ion-label>
    <ion-input type="textarea"  placeholder="Descrição" [(ngModel)]="descricao"></ion-input>
  </ion-item>

  <ion-buttons end>
    <button ion-button icon-only (click)="addTarefa()">
      <ion-icon name="add"></ion-icon>
      Adicionar Tarefa
    </button>
  </ion-buttons>
</ion-content>
