<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Usuário" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
        <ion-input type="text" placeholder="Senha" [(ngModel)]="password"></ion-input>
      </ion-item>
  </ion-list>

  <button ion-button block (click)="iniciaLogin()">Fazer Login</button>
</ion-content>
