<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Ambientes" tabIcon="browsers"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Tarefas" tabIcon="checkmark-circle"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Contatos" tabIcon="people"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Config." tabIcon="settings"></ion-tab>
</ion-tabs>
