<!--
  Generated template for the AmbienteAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Adicionar Ambiente</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <ion-label>Título</ion-label>
        <ion-input type="text" placeholder="Título" [(ngModel)]="titulo"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Descrição</ion-label>
        <ion-input type="textarea"  placeholder="Descrição" [(ngModel)]="descricao"></ion-input>
    </ion-item>
        
    <ion-item>
        <ion-label>Cor</ion-label>
        <ion-input type="color" placeholder="Cor" [(ngModel)]="cor"></ion-input>
    </ion-item>

    <ion-buttons end>
      <button ion-button icon-only (click)="addAmbiente()">
        <ion-icon name="add"></ion-icon>
        Adicionar Ambiente
      </button>
    </ion-buttons>
</ion-content>