<!--
  Generated template for the TarefasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tarefas</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="paginaAddTarefa()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let tarefa of tarefas_list">
    <ion-card-content>
      <ion-card-title>
        {{ tarefa.title.rendered }}
      </ion-card-title>

      <ion-buttons end>
        <button ion-button><ion-icon (click)="deletaTarefa(tarefa.id)" name="trash"></ion-icon></button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-content>
