<!--
  Generated template for the GruposPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ambientes</ion-title>

    <ion-buttons end>
        <button ion-button icon-only (click)="paginaAddAmbiente()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card *ngFor="let ambiente of ambientes_list">
    <ion-card-content>
      <ion-card-title>
        {{ ambiente.title.rendered }}
      </ion-card-title>

      <ion-card-content>
          <p></p>
      </ion-card-content>

      <ion-buttons end>
        <button ion-button><ion-icon (click)="deletaAmbiente(ambiente.id)" name="trash"></ion-icon></button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-content>
